.add-button {
  width: 80px;
  height: 30px;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #8f8f8f;
  border: 1px solid #dbdbdb;
  border-radius: 12px;
  background-color: #dbdbdb;
}
.add-button-enable {
  width: 80px;
  height: 30px;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  border: 1px solid #e4875d;
  border-radius: 12px;
  background-color: #e4875d;
}
.cancel-button {
  width: 80px;
  height: 30px;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #e4875d;
  border: 1px solid #f0e4df;
  border-radius: 12px;
  background-color: #f0e4df;
}
